/xxx
/.vscode
/.idea
.env

**/vendor/
**/logs/
/api/public/bitrix/
/api/public/upload/
/api/public/include/
/api/public/local/routes/*
!/api/public/local/routes/.gitkeep
/api/log/
/api/tcp:
/dump.sql.7z
/dump.sql.7z:Zone.Identifier
**.php-cs-fixer.cache
**test.php
**.htaccess
