parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined static method Rebit\\Share\\Infrastructure\\Controller\\BaseJsonController\:\:__construct\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: public/local/modules/rebit.auth/lib/Presentation/Controller/AuthController.php

		-
			message: '#^Offset ''id'' on array\{id\: string, price\: string, lastQuantity\: string, minAmount\: string, maxAmount\: string, nickName\: string, recentExecuteRate\: int\|string, recentOrderNum\: int\|string, \.\.\.\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: public/local/modules/rebit.exchange/lib/Application/OrderBook/UseCase/SyncOrderBookUseCase.php

		-
			message: '#^Offset ''lastQuantity'' on array\{id\: string, price\: string, lastQuantity\: string, minAmount\: string, maxAmount\: string, nickName\: string, recentExecuteRate\: int\|string, recentOrderNum\: int\|string, \.\.\.\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: public/local/modules/rebit.exchange/lib/Application/OrderBook/UseCase/SyncOrderBookUseCase.php

		-
			message: '#^Offset ''maxAmount'' on array\{id\: string, price\: string, lastQuantity\: string, minAmount\: string, maxAmount\: string, nickName\: string, recentExecuteRate\: int\|string, recentOrderNum\: int\|string, \.\.\.\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: public/local/modules/rebit.exchange/lib/Application/OrderBook/UseCase/SyncOrderBookUseCase.php

		-
			message: '#^Offset ''minAmount'' on array\{id\: string, price\: string, lastQuantity\: string, minAmount\: string, maxAmount\: string, nickName\: string, recentExecuteRate\: int\|string, recentOrderNum\: int\|string, \.\.\.\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: public/local/modules/rebit.exchange/lib/Application/OrderBook/UseCase/SyncOrderBookUseCase.php

		-
			message: '#^Offset ''nickName'' on array\{id\: string, price\: string, lastQuantity\: string, minAmount\: string, maxAmount\: string, nickName\: string, recentExecuteRate\: int\|string, recentOrderNum\: int\|string, \.\.\.\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: public/local/modules/rebit.exchange/lib/Application/OrderBook/UseCase/SyncOrderBookUseCase.php

		-
			message: '#^Offset ''paymentPeriod'' on array\{id\: string, price\: string, lastQuantity\: string, minAmount\: string, maxAmount\: string, nickName\: string, recentExecuteRate\: int\|string, recentOrderNum\: int\|string, \.\.\.\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: public/local/modules/rebit.exchange/lib/Application/OrderBook/UseCase/SyncOrderBookUseCase.php

		-
			message: '#^Offset ''payments'' on array\{id\: string, price\: string, lastQuantity\: string, minAmount\: string, maxAmount\: string, nickName\: string, recentExecuteRate\: int\|string, recentOrderNum\: int\|string, \.\.\.\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: public/local/modules/rebit.exchange/lib/Application/OrderBook/UseCase/SyncOrderBookUseCase.php

		-
			message: '#^Offset ''price'' on array\{id\: string, price\: string, lastQuantity\: string, minAmount\: string, maxAmount\: string, nickName\: string, recentExecuteRate\: int\|string, recentOrderNum\: int\|string, \.\.\.\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: public/local/modules/rebit.exchange/lib/Application/OrderBook/UseCase/SyncOrderBookUseCase.php

		-
			message: '#^Offset ''recentExecuteRate'' on array\{id\: string, price\: string, lastQuantity\: string, minAmount\: string, maxAmount\: string, nickName\: string, recentExecuteRate\: int\|string, recentOrderNum\: int\|string, \.\.\.\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: public/local/modules/rebit.exchange/lib/Application/OrderBook/UseCase/SyncOrderBookUseCase.php

		-
			message: '#^Offset ''recentOrderNum'' on array\{id\: string, price\: string, lastQuantity\: string, minAmount\: string, maxAmount\: string, nickName\: string, recentExecuteRate\: int\|string, recentOrderNum\: int\|string, \.\.\.\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: public/local/modules/rebit.exchange/lib/Application/OrderBook/UseCase/SyncOrderBookUseCase.php

		-
			message: '#^Parameter \#1 \$id of method Rebit\\Exchange\\Domain\\Trade\\Repository\\TradeRepository\:\:findById\(\) expects int, int given\.$#'
			identifier: argument.type
			count: 1
			path: public/local/modules/rebit.exchange/lib/Application/TradeChat/UseCase/ProcessPendingChatScriptsUseCase.php

		-
			message: '#^Parameter \#1 \$scriptId of method Rebit\\Exchange\\Domain\\ChatScript\\Repository\\ChatScriptStepRepository\:\:findByScriptId\(\) expects int, int given\.$#'
			identifier: argument.type
			count: 1
			path: public/local/modules/rebit.exchange/lib/Application/TradeChat/UseCase/ProcessPendingChatScriptsUseCase.php

		-
			message: '#^Parameter \#1 \$userId of method Rebit\\Exchange\\Application\\TradeChat\\Port\\BybitChatGatewayInterface\:\:sendMessage\(\) expects int, int given\.$#'
			identifier: argument.type
			count: 1
			path: public/local/modules/rebit.exchange/lib/Application/TradeChat/UseCase/ProcessPendingChatScriptsUseCase.php

		-
			message: '#^Parameter \$tradeId of method Rebit\\Exchange\\Domain\\TradeChat\\Repository\\TradeMessageRepository\:\:create\(\) expects int, int given\.$#'
			identifier: argument.type
			count: 1
			path: public/local/modules/rebit.exchange/lib/Application/TradeChat/UseCase/ProcessPendingChatScriptsUseCase.php

		-
			message: '#^Parameter \$userId of method Rebit\\Exchange\\Domain\\TradeChat\\Repository\\TradeMessageRepository\:\:create\(\) expects int, int given\.$#'
			identifier: argument.type
			count: 1
			path: public/local/modules/rebit.exchange/lib/Application/TradeChat/UseCase/ProcessPendingChatScriptsUseCase.php

		-
			message: '#^Call to an undefined static method Rebit\\Exchange\\Domain\\ChatScript\\Entity\\Table\\ChatScriptTable\:\:delete\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: public/local/modules/rebit.exchange/lib/Domain/ChatScript/Repository/ChatScriptRepository.php

		-
			message: '#^Call to an undefined static method Rebit\\Exchange\\Domain\\ChatScript\\Entity\\Table\\ChatScriptStepTable\:\:delete\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: public/local/modules/rebit.exchange/lib/Domain/ChatScript/Repository/ChatScriptStepRepository.php

		-
			message: '#^Call to an undefined method Rebit\\Exchange\\Domain\\OrderBook\\Entity\\OrderBookEntry\:\:setUfBybitOrderId\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: public/local/modules/rebit.exchange/lib/Domain/OrderBook/Repository/OrderBookRepository.php

		-
			message: '#^Call to an undefined static method Rebit\\Exchange\\Domain\\OrderBook\\Entity\\Table\\OrderBookEntryTable\:\:delete\(\)\.$#'
			identifier: staticMethod.notFound
			count: 2
			path: public/local/modules/rebit.exchange/lib/Domain/OrderBook/Repository/OrderBookRepository.php

		-
			message: '#^Call to an undefined method Rebit\\Exchange\\Domain\\Trade\\Entity\\Trade\:\:setUfCreatedAt\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: public/local/modules/rebit.exchange/lib/Domain/Trade/Repository/TradeRepository.php

		-
			message: '#^Call to an undefined static method Rebit\\Exchange\\Infrastructure\\Controller\\BaseExchangeController\:\:__construct\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: public/local/modules/rebit.exchange/lib/Presentation/Controller/AdvertisementController.php

		-
			message: '#^Call to an undefined static method Rebit\\Exchange\\Infrastructure\\Controller\\BaseExchangeController\:\:__construct\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: public/local/modules/rebit.exchange/lib/Presentation/Controller/ChatScriptController.php

		-
			message: '#^Call to an undefined static method Rebit\\Exchange\\Infrastructure\\Controller\\BaseExchangeController\:\:__construct\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: public/local/modules/rebit.exchange/lib/Presentation/Controller/CurrencyController.php

		-
			message: '#^Call to an undefined static method Rebit\\Exchange\\Infrastructure\\Controller\\BaseExchangeController\:\:__construct\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: public/local/modules/rebit.exchange/lib/Presentation/Controller/OrderBookController.php

		-
			message: '#^Call to an undefined static method Rebit\\Exchange\\Infrastructure\\Controller\\BaseExchangeController\:\:__construct\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: public/local/modules/rebit.exchange/lib/Presentation/Controller/PaymentMethodController.php

		-
			message: '#^Call to an undefined static method Rebit\\Exchange\\Infrastructure\\Controller\\BaseExchangeController\:\:__construct\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: public/local/modules/rebit.exchange/lib/Presentation/Controller/TradeChatController.php

		-
			message: '#^Call to an undefined static method Rebit\\Exchange\\Infrastructure\\Controller\\BaseExchangeController\:\:__construct\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: public/local/modules/rebit.exchange/lib/Presentation/Controller/TradeController.php

		-
			message: '#^Parameter \$id of class Rebit\\Identity\\Application\\ApiConnection\\Dto\\Result\\ApiConnectionResultDto constructor expects int\|null, int given\.$#'
			identifier: argument.type
			count: 1
			path: public/local/modules/rebit.identity/lib/Application/ApiConnection/UseCase/ConnectApiUseCase.php

		-
			message: '#^Parameter \#1 \$encoded of method Rebit\\Identity\\Domain\\ApiConnection\\Service\\ApiKeyEncryptor\:\:decrypt\(\) expects string, string given\.$#'
			identifier: argument.type
			count: 1
			path: public/local/modules/rebit.identity/lib/Application/ApiConnection/UseCase/GetConnectionStatusUseCase.php

		-
			message: '#^Parameter \#1 \$value of static method Rebit\\Identity\\Domain\\ApiConnection\\Enum\\ConnectionModeEnum\:\:from\(\) expects int\|string, string given\.$#'
			identifier: argument.type
			count: 1
			path: public/local/modules/rebit.identity/lib/Application/ApiConnection/UseCase/GetConnectionStatusUseCase.php

		-
			message: '#^Parameter \#1 \$value of static method Rebit\\Identity\\Domain\\ApiConnection\\Enum\\ConnectionStatusEnum\:\:from\(\) expects int\|string, string given\.$#'
			identifier: argument.type
			count: 1
			path: public/local/modules/rebit.identity/lib/Application/ApiConnection/UseCase/GetConnectionStatusUseCase.php

		-
			message: '#^Parameter \$id of class Rebit\\Identity\\Application\\ApiConnection\\Dto\\Result\\ApiConnectionResultDto constructor expects int\|null, int given\.$#'
			identifier: argument.type
			count: 1
			path: public/local/modules/rebit.identity/lib/Application/ApiConnection/UseCase/GetConnectionStatusUseCase.php

		-
			message: '#^Parameter \#1 \$encoded of method Rebit\\Identity\\Domain\\ApiConnection\\Service\\ApiKeyEncryptor\:\:decrypt\(\) expects string, string given\.$#'
			identifier: argument.type
			count: 2
			path: public/local/modules/rebit.identity/lib/Application/ApiConnection/UseCase/VerifyApiUseCase.php

		-
			message: '#^Parameter \#1 \$value of static method Rebit\\Identity\\Domain\\ApiConnection\\Enum\\ConnectionModeEnum\:\:from\(\) expects int\|string, string given\.$#'
			identifier: argument.type
			count: 1
			path: public/local/modules/rebit.identity/lib/Application/ApiConnection/UseCase/VerifyApiUseCase.php

		-
			message: '#^Parameter \$id of class Rebit\\Identity\\Application\\ApiConnection\\Dto\\Result\\ApiConnectionResultDto constructor expects int\|null, int given\.$#'
			identifier: argument.type
			count: 1
			path: public/local/modules/rebit.identity/lib/Application/ApiConnection/UseCase/VerifyApiUseCase.php

		-
			message: '#^Anonymous function never returns Rebit\\Identity\\Domain\\ApiConnection\\Entity\\ApiConnection so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 3
			path: public/local/modules/rebit.identity/lib/Domain/ApiConnection/Repository/ApiConnectionRepository.php

		-
			message: '#^Method Rebit\\Identity\\Domain\\ApiConnection\\Repository\\ApiConnectionRepository\:\:findActiveByUserId\(\) never returns Rebit\\Identity\\Domain\\ApiConnection\\Entity\\ApiConnection so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: public/local/modules/rebit.identity/lib/Domain/ApiConnection/Repository/ApiConnectionRepository.php

		-
			message: '#^Method Rebit\\Identity\\Domain\\ApiConnection\\Repository\\ApiConnectionRepository\:\:findById\(\) never returns Rebit\\Identity\\Domain\\ApiConnection\\Entity\\ApiConnection so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: public/local/modules/rebit.identity/lib/Domain/ApiConnection/Repository/ApiConnectionRepository.php

		-
			message: '#^Method Rebit\\Identity\\Domain\\ApiConnection\\Repository\\ApiConnectionRepository\:\:findByUserId\(\) never returns Rebit\\Identity\\Domain\\ApiConnection\\Entity\\ApiConnection so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: public/local/modules/rebit.identity/lib/Domain/ApiConnection/Repository/ApiConnectionRepository.php

		-
			message: '#^Strict comparison using \=\=\= between false and int will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 2
			path: public/local/modules/rebit.identity/lib/Domain/ApiConnection/Service/ApiKeyEncryptor.php

		-
			message: '#^Parameter \#1 \$encoded of method Rebit\\Identity\\Domain\\ApiConnection\\Service\\ApiKeyEncryptor\:\:decrypt\(\) expects string, string given\.$#'
			identifier: argument.type
			count: 2
			path: public/local/modules/rebit.identity/lib/Infrastructure/Adapter/BybitConnectionResolver.php

		-
			message: '#^Parameter \#1 \$value of static method Rebit\\Identity\\Domain\\ApiConnection\\Enum\\ConnectionModeEnum\:\:from\(\) expects int\|string, string given\.$#'
			identifier: argument.type
			count: 1
			path: public/local/modules/rebit.identity/lib/Infrastructure/Adapter/BybitConnectionResolver.php

		-
			message: '#^Call to an undefined static method Rebit\\Identity\\Infrastructure\\Controller\\BaseIdentityController\:\:__construct\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: public/local/modules/rebit.identity/lib/Presentation/Controller/ApiConnectionController.php

		-
			message: '#^Variable \$currentUser on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: public/local/modules/rebit.share/lib/Infrastructure/Bitrix/ControllerBuilder.php

		-
			message: '#^Method Rebit\\Share\\Infrastructure\\Interface\\SerializerInterface\:\:serialize\(\) invoked with 2 parameters, 1 required\.$#'
			identifier: arguments.count
			count: 1
			path: public/local/modules/rebit.share/lib/Infrastructure/Bitrix/ControllerJson.php

		-
			message: '''
				#^PHPDoc tag @param has invalid value \(Event\{
				    moduleId\: string,
				    type\: string,
				    parameters\: array\{
				        action\: Action,
				        controller\: AbstractController,
				        result\: HttpResponse,
				    \}
				\} \$event\)\: Unexpected token "\{", expected variable at offset 88 on line 4$#
			'''
			identifier: phpDoc.parseError
			count: 1
			path: public/local/modules/rebit.share/lib/Infrastructure/Controller/Filters/LoggerFilter.php

		-
			message: '''
				#^PHPDoc tag @param has invalid value \(Event\{
				    moduleId\: string,
				    type\: string,
				    parameters\: array\{
				        action\: Action,
				        controller\: AbstractController,
				    \}
				\} \$event\)\: Unexpected token "\{", expected variable at offset 84 on line 4$#
			'''
			identifier: phpDoc.parseError
			count: 1
			path: public/local/modules/rebit.share/lib/Infrastructure/Controller/Filters/LoggerFilter.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Validator\\ValidatorBuilder\:\:enableAnnotationMapping\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: public/local/modules/rebit.share/lib/Infrastructure/Controller/Request/RequestFileToDtoMapper.php

		-
			message: '#^Parameter \#1 \$data of static method Rebit\\Share\\Shared\\Helper\\ArrayToDtoMapper\<object\>\:\:mapList\(\) expects array\<int, array\<string, mixed\>\>, array\<string, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: public/local/modules/rebit.share/lib/Infrastructure/Controller/Request/RequestToCollectionMapper.php

		-
			message: '#^Call to an undefined method ReflectionFunctionAbstract\:\:getDeclaringClass\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: public/local/modules/rebit.share/lib/Infrastructure/Dto/Metadata/DtoMetadataService.php

		-
			message: '#^Match expression does not handle remaining value\: string$#'
			identifier: match.unhandled
			count: 1
			path: public/local/modules/rebit.share/lib/Infrastructure/Dto/Metadata/DtoMetadataService.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Validator\\ValidatorBuilder\:\:enableAnnotationMapping\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: public/local/modules/rebit.share/lib/Infrastructure/Helpers/ValidationHelper.php

		-
			message: '#^PHPDoc tag @return with type T is not subtype of native type object\.$#'
			identifier: return.phpDocType
			count: 1
			path: public/local/modules/rebit.share/lib/Infrastructure/Interface/RequestMapperInterface.php

		-
			message: '#^Invalid type definition detected in type alias ALoggerRecord\.$#'
			identifier: typeAlias.invalidType
			count: 1
			path: public/local/modules/rebit.share/lib/Infrastructure/Logger/CommonLoggerProcessor.php

		-
			message: '#^PHPDoc tag @param for parameter \$record contains unresolvable type\.$#'
			identifier: parameter.unresolvableType
			count: 1
			path: public/local/modules/rebit.share/lib/Infrastructure/Logger/CommonLoggerProcessor.php

		-
			message: '#^PHPDoc tag @return contains unresolvable type\.$#'
			identifier: return.unresolvableType
			count: 1
			path: public/local/modules/rebit.share/lib/Infrastructure/Logger/CommonLoggerProcessor.php

		-
			message: '#^PHPDoc type for property Rebit\\Share\\Infrastructure\\Logger\\CommonLoggerProcessor\:\:\$record contains unresolvable type\.$#'
			identifier: property.unresolvableType
			count: 1
			path: public/local/modules/rebit.share/lib/Infrastructure/Logger/CommonLoggerProcessor.php

		-
			message: '#^Call to an undefined static method Rebit\\Share\\Infrastructure\\Controller\\BaseJsonController\:\:__construct\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: public/local/modules/rebit.share/lib/Presentation/Controller/FileController.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: public/local/modules/rebit.share/lib/Shared/Facade/Log.php

		-
			message: '#^Call to function is_array\(\) with array\<string, mixed\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: public/local/modules/rebit.share/lib/Shared/Helper/ArrayToDtoMapper.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: public/local/modules/rebit.share/lib/Shared/ValueObject/AbstractDateRange.php

		-
			message: '#^Call to an undefined method DateTimeInterface\:\:setTime\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: public/local/modules/rebit.share/lib/Shared/ValueObject/DateRange.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: public/local/modules/rebit.wallet/lib/Application/Transaction/UseCase/ListTransactionsUseCase.php

		-
			message: '#^Parameter \$bybitTxId of class Rebit\\Wallet\\Application\\Transaction\\Dto\\Result\\TransactionResultDto constructor expects string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: public/local/modules/rebit.wallet/lib/Application/Transaction/UseCase/ListTransactionsUseCase.php

		-
			message: '#^Parameter \$description of class Rebit\\Wallet\\Application\\Transaction\\Dto\\Result\\TransactionResultDto constructor expects string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: public/local/modules/rebit.wallet/lib/Application/Transaction/UseCase/ListTransactionsUseCase.php

		-
			message: '#^Parameter \$tradeId of class Rebit\\Wallet\\Application\\Transaction\\Dto\\Result\\TransactionResultDto constructor expects int\|null, int given\.$#'
			identifier: argument.type
			count: 1
			path: public/local/modules/rebit.wallet/lib/Application/Transaction/UseCase/ListTransactionsUseCase.php

		-
			message: '#^Call to an undefined static method Rebit\\Wallet\\Infrastructure\\Controller\\BaseWalletController\:\:__construct\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: public/local/modules/rebit.wallet/lib/Presentation/Controller/BalanceController.php

		-
			message: '#^Call to an undefined static method Rebit\\Wallet\\Infrastructure\\Controller\\BaseWalletController\:\:__construct\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: public/local/modules/rebit.wallet/lib/Presentation/Controller/TransactionController.php
