<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="false"
         failOnWarning="false"
         failOnRisky="false">
    <testsuites>
        <testsuite name="Unit">
            <directory>public/local/modules/*/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
